//Net "clk" TNM_NET = sys_clk;
//TIMESPEC TS_sys_clk = PERIOD"sys_clk" 100ns HIGH 50 %;

Net number<0>  Loc = T10;
Net number<1>  Loc = T9;
Net number<2>  Loc = V9;
Net IOput  Loc = M8;
Net data_in<0>  Loc = N8;
Net data_in<1>  Loc = U8;
Net data_in<2>  Loc = V8;
Net data_in<3>  Loc = T5;

Net data_out<3> Loc = T11;
Net data_out<2> Loc = R11;
Net data_out<1> Loc = N11;
Net data_out<0> Loc = M11;

Net rst Loc = A8;//ио
Net ena Loc = B8;//жп
Net clk Loc = C9;//об

NET "IOput" CLOCK_DEDICATED_ROUTE = FALSE; 