//! **************************************************************************
// Written by: Map O.61xd on Sun Jun 08 22:07:39 2014
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
COMP "datain<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "datain<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "datain<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "datain<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "datain<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "datain<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "datain<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "datain<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "idle" LOCATE = SITE "V16" LEVEL 1;
COMP "rdsig" LOCATE = SITE "U16" LEVEL 1;
COMP "wrsig" LOCATE = SITE "B8" LEVEL 1;
COMP "dataout<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "dataout<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "dataout<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "dataout<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "dataout<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "dataout<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "dataout<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "dataout<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "sys_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "frameerror" LOCATE = SITE "V15" LEVEL 1;
COMP "scan_rst" LOCATE = SITE "C4" LEVEL 1;
COMP "DIG_r<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "DIG_r<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "DIG_r<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "DIG_r<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "button_clk" LOCATE = SITE "A8" LEVEL 1;
COMP "button_rst" LOCATE = SITE "C9" LEVEL 1;
COMP "clk_divided_rst" LOCATE = SITE "D9" LEVEL 1;
SCHEMATIC END;

